.kit-production-status {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre os itens de produção */
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #c3c2c3;
    position: relative;
  }

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  }
  
  .kit-photo img {
    width: 50px; 
    height: 50px; 
    margin-left: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-right: 0.7rem;
    border-radius: 50%; /* Foto circular */
  }
  
  /* .kit-info {

  } */
  
  .kit-info h3 {
    margin: 0;
  }
  
  .kit-info p {
    margin: 0;
  }

  .kits-date{
    margin-left: auto;
    padding: 8px 12px;
  }

  .dateInfo{
    margin: 0;
    font-size: 0.8em;
  }
  