.kit-card-area{
    /* display: grid;
    grid-template-columns: repeat(2, 0.8fr);
    gap: 1rem;
    padding: 1rem;
    grid-column-start: 2;
    display: flex; */
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 5rem;
}

.kit-card-area div {
    flex: 1 0 40%;
}

.kit-card-item{
    display: grid;
    grid-template-rows: auto 0.5fr auto; 
    gap: 0.5rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #c3c2c3;
    padding: 1rem;
    max-height: 15rem;
    max-width: 20rem;
}

.kit-card-area .kit-card-title{
    margin: 0.2rem;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: left;
}

.kit-card-area .kit-car-dec{
    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;
}

.kit-card-area .kit-card-img-area{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 8;
    grid-column-end: 12;
    display: flex;
}

.kit-card-area .kit-card-img{
    border: 2px black solid;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.kit-card-area .kit-card-buttons-area{
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    
}

.kit-card-area .kit-card-buttons-area button{
    margin: auto;
    width: 40%;
    height: 70%;
}

.kits-title {
    grid-column: 1 / -1;
    text-align: left;
    padding: 1rem;
  }